# Dependency directories
node_modules/

# Environment variables (สำคัญมาก: ห้ามลบตัวนี้เด็ดขาด)
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS metadata
.DS_Store
Thumbs.db
._*

# IDE settings
.vscode/
.idea/
