stages:
  - check-system
  - build-docker
  - deploy-docker

variables:
  # ดึงค่าจาก GitLab Settings
  DOCKER_IMAGE: "registry-room.mt108.info/lab/scripts/wake_on_lan"

before_script:
  # ทำการ login ครั้งเดียว โดยไม่บันทึกรหัสผ่านลงไฟล์
  - echo "$CI_REGISTRY_PASSWORD" | sudo docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY

system-info:
  stage: check-system
  tags:
    - pizero2w
  script:
    - echo "=== System Info ==="
    - id && uptime && hostname
    - sudo docker ps -a
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "master"

build-docker-pi:
  stage: build-docker
  tags:
    - docker-build-x86
  script:
    # ใช้ buildx เพื่อสร้าง image สำหรับ arm64
    - sudo docker buildx build --platform linux/arm64 --provenance=false -t $DOCKER_IMAGE:latest  -t $DOCKER_IMAGE:$CI_COMMIT_SHORT_SHA --push .
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "master"
    - if: $CI_COMMIT_TAG

deploy-pi-zero:
  stage: deploy-docker
  tags:
    - pizero2w
  needs:
    - build-docker-pi
  script:
    - echo "=== Deploying to Pi Zero 2W ==="
    - sudo docker pull $DOCKER_IMAGE:latest
    - sudo docker stop ping-monitor-wol || true
    - sudo docker rm ping-monitor-wol || true
    - |
      sudo docker run -d \
        --name ping-monitor-wol \
        --restart=always \
        -e TARGET_IP="$TARGET_IP" \
        -e TARGET_MAC="$TARGET_MAC" \
        -e DOWNTIME_THRESHOLD_MIN="$DOWNTIME_THRESHOLD_MIN" \
        -e CHECK_INTERVAL_SEC="$CHECK_INTERVAL_SEC" \
        -e SKIP_START_HOUR="$SKIP_START_HOUR" \
        -e SKIP_END_HOUR="$SKIP_END_HOUR" \
        -e TIMEZONE="$TIMEZONE" \
        -e TELEGRAM_BOT_TOKEN="$TELEGRAM_BOT_TOKEN" \
        -e TELEGRAM_CHAT_ID="$TELEGRAM_CHAT_ID" \
        $DOCKER_IMAGE:latest
    - sudo docker ps --filter name=ping-monitor-wol
  rules:
    - if: $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "master"
    - if: $CI_COMMIT_TAG