stages:
  - check-system
  - build-docker
  - deploy-docker

variables:
  CHECK_INTERVAL_SEC: $CHECK_INTERVAL_SEC # เรียกใช้ตัวแปรที่ตั้งค่าเอาไว้ใน GitLab SETTING > CI/CD > Variables
  DOWNTIME_THRESHOLD_MIN: $DOWNTIME_THRESHOLD_MIN
  SKIP_START_HOUR: $SKIP_START_HOUR
  SKIP_END_HOUR: $SKIP_END_HOUR
  TARGET_IP: $TARGET_IP
  TARGET_MAC: $TARGET_MAC
  TELEGRAM_BOT_TOKEN: $TELEGRAM_BOT_TOKEN
  TELEGRAM_CHAT_ID: $TELEGRAM_CHAT_ID

before_script:
  - 'echo "This will run before every job"'
  - echo docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY > /data/docker-login.txt
  - 'sudo docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY'

system-info:
  stage: check-system
  tags:
    - pizero2w
  script:
    - echo "=== System Info ==="
    - echo "--- User ID ---"
    - id
    - echo ""
    - echo "--- Uptime ---"
    - uptime
    - echo ""
    - echo "--- Hostname ---"
    - hostname
    - sudo docker ps -a
  only:
    - main
    - master


build-docker-pi:
  stage: build-docker
  tags:
    - docker-build-x86
  script:
    - docker buildx build --platform linux/arm64 --build-arg TARGET_IP=$TARGET_IP --build-arg TARGET_MAC=$TARGET_MAC --build-arg DOWNTIME_THRESHOLD_MIN=$DOWNTIME_THRESHOLD_MIN --build-arg CHECK_INTERVAL_SEC=$CHECK_INTERVAL_SEC --build-arg SKIP_START_HOUR=$SKIP_START_HOUR --build-arg SKIP_END_HOUR=$SKIP_END_HOUR --build-arg TELEGRAM_BOT_TOKEN=$TELEGRAM_BOT_TOKEN --build-arg TELEGRAM_CHAT_ID=$TELEGRAM_CHAT_ID -t registry-room.mt108.info/lab/scripts/wake_on_lan:latest -t registry-room.mt108.info/lab/scripts/wake_on_lan:$CI_COMMIT_SHORT_SHA --push .
  only:
    - main
    - master
    - tags
  needs:
    - system-info


deploy-pi-zero:
  stage: deploy-docker
  tags:
    - pizero2w
  script:
    - echo "=== Deploying to Pi Zero 2W ==="
    - echo "--- Checking Environment Variables ---"
    - echo "TARGET_IP: $TARGET_IP"
    - echo "TARGET_MAC: $TARGET_MAC"
    - sudo docker pull registry-room.mt108.info/lab/scripts/wake_on_lan:latest
    - echo "--- Stopping and removing old container ---"
    - sudo docker stop ping-monitor-wol || true
    - sudo docker rm ping-monitor-wol || true
    - echo "--- Running new container with auto-restart ---"
    - sudo docker run -d --name ping-monitor-wol --restart=always -e TARGET_IP="$TARGET_IP" -e TARGET_MAC="$TARGET_MAC" -e DOWNTIME_THRESHOLD_MIN="$DOWNTIME_THRESHOLD_MIN" -e CHECK_INTERVAL_SEC="$CHECK_INTERVAL_SEC" -e SKIP_START_HOUR="$SKIP_START_HOUR" -e SKIP_END_HOUR="$SKIP_END_HOUR" -e TELEGRAM_BOT_TOKEN="$TELEGRAM_BOT_TOKEN" -e TELEGRAM_CHAT_ID="$TELEGRAM_CHAT_ID" registry-room.mt108.info/lab/scripts/wake_on_lan:latest
    - echo "--- Container status ---"
    - sudo docker ps --filter name=ping-monitor-wol
  only:
    - main
    - master
    - tags
  needs:
    - build-docker-pi
